{% extends "@templates/base-post.twig" %}

{% block article %}


    <p>Courant 2007, j'ai créé une classe de dessin en PHP appelée <b>PHPImage</b>. Cette classe utilise
        GD2 et PHP5 et m'aide à dessiner facilement des images en PHP.</p>

    <p>Il faut voir cette classe comme un wrapper intelligent de GD avec des fonctionnalités très
        avancées.</p>

    <p>Par exemple, avec cette classe, vous pouvez définir des couleurs de manière très simple comme
        <code>'red 50%'</code> pour un rouge transparent à 50% au lieu de devoir faire des
        <code>imagecolorallocate</code> à chaque fois avant l'utilisation de la couleur...</p>

    <p>Cela permet d'économiser beaucoup de code inutile pour ce concentrer sur l'essentiel : ce que
        vous voulez dessiner.</p>

    <p>Cette classe fait plus de 5000 lignes de code et plus de 160 Ko... ça représente presque 1 mois
        à temps plein de boulot.</p>

    <p>Certaines primitives graphiques ont été complètement ré-écrites comme
        <code>drawfilledpolygon</code>. GD 2 permet de le faire mais il y a des erreurs au pixel près
        dans le dessin de la forme, en plus cela gère mal la transparence. Du coup, j'ai utilisé la
        technique de <a href="http://www.cs.rit.edu/~icss571/filling/how_to.html">scanline</a> pour
        remplir le polygone. Notez que l'implémentation varie un peu de la théorie pour des raisons de
        performance et de gestion de la transparence etc...</p>


    <h2 class="section-heading">Pré-requis</h2>
    <ul>
        <li>PHP5</li>
        <li>GD2 avec antialias</li>
    </ul>

    <h2 class="section-heading">Gérer les images en cache</h2>
    <p><b>PHPImage</b> est parfaitement adaptée à une gestion propre d'images en cache avec des headers
        au poil ;)</p>

    <h4>Exemple d'utilisation de ce système de cache</h4>

    <pre><code class="php">{{ source("php/phpimage/method.cache.php")|escape }}</code></pre>


    <h4>Exemple de masque alpha</h4>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <pre><code class="php">{{ source("php/phpimage/method.mask1.php")|escape }}</code></pre>
        </div>
        <div class="col-md-4 mx-auto">
            <img src="{{ post.links.demo }}methods/mask1.php"/>
        </div>
    </div>


    <h4>Exemple de masque alpha</h4>

    <pre><code class="php">{{ source("php/phpimage/method.drawfilledrectangle2.php")|escape }}</code></pre>
    <img src="{{ post.links.demo }}methods/drawfilledrectangle1.php"/>
    <img src="{{ post.links.demo }}methods/drawrectangle1.php"/>
    <img src="{{ post.links.demo }}methods/drawfilledrectangle2.php"/>
    <img src="{{ post.links.demo }}methods/drawrectangle3.php"/>


    <h4>Exemple avec Héritage</h4>

    <pre><code class="php">{{ source("php/phpimage/sample.sample2.php")|escape }}</code></pre>
    <img src="{{ post.links.demo }}samples/sample2.php"/>


{% endblock %}
