<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ page_title }}{% if block('h1') not in ['', 'Arnaud Buathier'] %} · {{ block('h1') }}{% endif %}{% endblock %}</title>

    {% block stylsheets %}

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('theme-blog/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{{ asset('theme-blog/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
              type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
              rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="{{ asset('theme-blog/css/clean-blog.min.css') }}" rel="stylesheet">

        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>

    {% endblock %}
</head>

<body>

{% block navigation %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home') }}">Arnapou</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                {% include "@includes/menu.html.twig" %}
            </div>
        </div>
    </nav>

{% endblock %}

{% block header %}

    <!-- Page Header -->
    <header class="masthead"
            style="background-image: url('{% block header_bg %}{{ asset('theme-blog/img/home-bg.jpg') }}{% endblock %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        {% block header_body %}
                            <h1>{% block h1 %}Arnaud Buathier{% endblock %}</h1>
                            <span class="subheading">{% block subh1 %}Développeur dans l'âme{% endblock %}</span>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Bienvenue dans mon antre de développeur.</p>
                <p>Je rassemble ici plus ou moins pèle-mêle mes productions informatiques que je partage librement un
                    peu à la manière d'une archive.
                    Vous accèderez au contenu grâce au menu en haut de cette page.</p>
            </div>
        </div>
    </div>

{% endblock %}

<hr>

{% block footer %}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        {% include "@includes/social-icons.html.twig" %}
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; {{ domain }} {{ 'now'|date('Y') }}</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('theme-blog/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('theme-blog/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ asset('theme-blog/js/clean-blog.min.js') }}"></script>

{% endblock %}
</body>

</html>
