{% extends "@templates/base.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('vendor/highlight.css') }}" rel="stylesheet">
    <style>
        .btn .fa {
            margin-right: 1em;
        }

        pre {
            font-size: 60%;
            max-height: 400px;
        }

        h4 {
            margin-top: 2em;
        }
    </style>
{% endblock %}

{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% block article %}{% endblock %}
                    {{ block('downloads') }}
                    {{ block('links') }}
                </div>
            </div>
        </div>
    </article>

{% endblock %}

{% block downloads %}
    {% if post.downloads is defined and post.downloads is iterable %}
        {% set s = (post.downloads|length) > 1 ? 's' : '' %}
        <h2 class="section-heading">Téléchargement{{ s }}</h2>
        {% for dl in post.downloads %}
            <p>
                <a class="btn btn-primary" href="{{ dl.name }}" role="button">
                    <i class="fa fa-download"></i>{{ dl.name }}
                </a>
                {% if dl.text is defined and dl.text %}
                    <em> {{ dl.text }}</em>
                {% endif %}
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block links %}
    {% if post.links is defined and post.links is iterable %}
        {% set icons = { demo: 'eye',          github: 'github',          gitlab: 'gitlab' } %}
        {% set texts = { demo: 'Voir la démo', github: 'Voir sur GitHub', gitlab: 'Voir sur GitLab' } %}
        <h2 class="section-heading">Liens</h2>
        <p>
            {% for type, url in post.links %}
                {% if type in ['demo', 'github', 'gitlab'] %}
                    <a class="btn btn-primary" href="{{ url }}" role="button">
                        <i class="fa fa-{{ icons[type] }}"></i>{{ texts[type] }}
                    </a>
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}

{% block header_body %}
    <div class="post-heading">
        <h1>{% block h1 %}{{ post.title }}{% endblock %}</h1>
        <h2 class="subheading">{% block subh1 %}{{ post.subtitle }}{% endblock %}</h2>
        <span class="meta">{{ post.date }}</span>
    </div>
{% endblock %}

{% block header_bg %}{% if post.bg is not defined %}../bg.jpg{% else %}{{ post.bg }}{% endif %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/highlight.pack.js') }}"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
{% endblock %}