<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path_dir('php') }}">PHP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path_dir('js') }}">JS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path_dir('csharp') }}">C#</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path_dir('delphi') }}">Delphi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path_dir('divers') }}">Divers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path_dir('blog') }}">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path_page('contact') }}">Contact</a>
    </li>
</ul>