<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ weather.data.city.name }}</title>
    <style>
        body {
            background: #cccccc;
            padding: 4px 0 5em 0;
            font-family: Verdana, Arial, serif;
            font-size: 2.5vw;
            margin: 0;
        }

        svg {
            background: #ffffff;
            width: 100%;
            height: auto;
        }

        svg.icon {
            background: transparent;
        }

        div > span {
            display: block;
            padding: 1.4vw 1vw .2vw 1vw;
        }

        div > span.link {
            font-size: 150%;
            border-radius: .5vw;
            vertical-align: middle;
            border: .2vw solid #008CBA;
            padding: .5vw 1vw;
            color: #008CBA;
            background: #ffffff;
            cursor: pointer;
            margin-top: .5vw;
        }

        div > span.link:hover {
            background: #008CBA;
            color: white;
        }

        div > span > span {
            color: #888888;
        }

        div.right {
            float: right;
            clear: both;
            margin-right: 2vw;
            margin-bottom: .8vw;
        }
    </style>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="./theme-blog/img/weather.png"/>
    <meta name="theme-color" content="#367fa9">
    <link rel="apple-touch-icon" sizes="180x180" href="./theme-blog/img/weather.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./theme-blog/img/weather.svg">
    <link rel="icon" type="image/png" sizes="96x96" href="./theme-blog/img/weather.svg">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
{% if weather.empty %}
    <div style="color: red">
        Les données récupérées sont vides ... retenter plus tard.
    </div>
{% else %}

    <div><span>Température</span></div>
    <div>{{ weather.svglines('temp', '#f66364') | raw }}</div>

    <div><span>Température ressentie</span></div>
    <div>{{ weather.svglines('feels_like', '#dc0d0e') | raw }}</div>

    <div><span>Vent km/h</span></div>
    <div>{{ weather.svglines('wind_speed', '#a4650a', 5, -35) | raw }}</div>

    <div><span>Humidité %</span></div>
    <div>{{ weather.svglines('humidity', '#367dc4', 5) | raw }}</div>

    <div><span>Nuages %</span></div>
    <div>{{ weather.svgimg('icon') | raw }}</div>
    <div>{{ weather.svglines('clouds', '#69767c', 10) | raw }}</div>

    <div><span>Précipitations mm</span></div>
    <div>{{ weather.svglines('mm', '#19A979', 1, -7) | raw }}</div>

    <div><span>Pression hPa</span></div>
    <div>{{ weather.svglines('pressure', '#da5a1b', 2, 1013) | raw }}</div>

    {% for nb in [3, 5] %}
        <div class="right">
            <span data-href="{{ path('weather', { days: nb, city: city, ext: none }) }}" class="link">
                🔄 sur {{ nb }} jours
            </span>
        </div>
    {% endfor %}

    <div class="right">
        <span><span><small>{{ 'now'|date('j M H:i:s')|lower }}</small></span></span>
    </div>

    <div>
        <span><span>Ville : </span>{{ weather.data.city.name }}</span>
        <span><span>Jour : </span>{{ weather.data.city.sunrise|date('H:i:s') }} &mdash; {{ weather.data.city.sunset|date('H:i:s') }}</span>
        <span><span>Période : </span>{{ weather.tsMin|date('j M H\\h') }} &mdash; {{ weather.tsMax|date('j M H\\h') }}</span>
    </div>

{% endif %}

<script src="{{ asset('theme-blog/vendor/jquery/jquery.min.js') }}"></script>
<script>
    $(function () {
        // refresh auto de page
        setTimeout(function () {
            window.location.reload();
        }, {{ TTL * 1000 }});

        // clic links
        $('span.link').click(function () {
            window.location = $(this).data('href');
        });
    });
</script>
</body>
