<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ weather.data.city.name }}</title>
    <style>
        body {
            background: #cccccc;
            padding: 4px 0 5em 0;
            font-family: Verdana, Arial, serif;
            font-size: 2.5vw;
            margin: 0;
        }

        div > span {
            display: block;
            padding: 1.4vw 1vw .2vw 1vw;
        }

        div > span.link {
            font-size: 150%;
            border-radius: .5vw;
            vertical-align: middle;
            border: .2vw solid #008CBA;
            padding: .5vw 1vw;
            color: #008CBA;
            background: #ffffff;
            cursor: pointer;
            margin-top: .5vw;
        }

        div > span.link:hover {
            background: #008CBA;
            color: white;
        }

        div > span > span {
            color: #888888;
        }

        div.right {
            float: right;
            clear: both;
            margin-right: 2vw;
            margin-bottom: .8vw;
        }

        svg {
            background: #ffffff;
            width: 100%;
            height: auto;
        }

        svg.icon {
            background: transparent;
        }

        svg.refresh {
            background: transparent;
            height: 1em;
            width: 1em;
            display: inline-block;
            vertical-align: middle;
            fill: #008CBA;
        }

        div > span.link:hover svg.refresh {
            fill: #ffffff;
        }
    </style>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="./theme-blog/img/weather.png"/>
    <meta name="theme-color" content="#367fa9">
    <link rel="apple-touch-icon" sizes="180x180" href="./theme-blog/img/weather.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./theme-blog/img/weather.svg">
    <link rel="icon" type="image/png" sizes="96x96" href="./theme-blog/img/weather.svg">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
{% if weather.empty %}
    <div style="color: red">
        Les données récupérées sont vides ... retenter plus tard.
    </div>
{% else %}

    <div><span>Température</span></div>
    <div>{{ weather.svglines('temp', '#f66364') | raw }}</div>

    <div><span>Température ressentie</span></div>
    <div>{{ weather.svglines('feels_like', '#dc0d0e') | raw }}</div>

    <div><span>Vent km/h</span></div>
    <div>{{ weather.svglines('wind_speed', '#a4650a', 5, -35) | raw }}</div>

    <div><span>Humidité %</span></div>
    <div>{{ weather.svglines('humidity', '#367dc4', 5) | raw }}</div>

    <div><span>Nuages %</span></div>
    <div>{{ weather.svgimg('icon') | raw }}</div>
    <div>{{ weather.svglines('clouds', '#69767c', 10) | raw }}</div>

    <div><span>Précipitations mm</span></div>
    <div>{{ weather.svglines('mm', '#19A979', 1, -7) | raw }}</div>

    <div><span>Pression hPa</span></div>
    <div>{{ weather.svglines('pressure', '#da5a1b', 2, 1013) | raw }}</div>

    {% for nb in [3, 5] %}
        <div class="right">
            <span data-href="{{ path('weather', { days: nb, city: city, ext: none }) }}" class="link">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="refresh"
                     viewBox="0 0 477.867 477.867" style="enable-background:new 0 0 477.867 477.867;" xml:space="preserve">
<g><g>
    <path d="M409.6,0c-9.426,0-17.067,7.641-17.067,17.067v62.344C304.667-5.656,164.478-3.386,79.411,84.479
        c-40.09,41.409-62.455,96.818-62.344,154.454c0,9.426,7.641,17.067,17.067,17.067S51.2,248.359,51.2,238.933
        c0.021-103.682,84.088-187.717,187.771-187.696c52.657,0.01,102.888,22.135,138.442,60.976l-75.605,25.207
        c-8.954,2.979-13.799,12.652-10.82,21.606s12.652,13.799,21.606,10.82l102.4-34.133c6.99-2.328,11.697-8.88,11.674-16.247v-102.4
        C426.667,7.641,419.026,0,409.6,0z"/>
</g></g>
<g><g>
    <path d="M443.733,221.867c-9.426,0-17.067,7.641-17.067,17.067c-0.021,103.682-84.088,187.717-187.771,187.696
        c-52.657-0.01-102.888-22.135-138.442-60.976l75.605-25.207c8.954-2.979,13.799-12.652,10.82-21.606
        c-2.979-8.954-12.652-13.799-21.606-10.82l-102.4,34.133c-6.99,2.328-11.697,8.88-11.674,16.247v102.4
        c0,9.426,7.641,17.067,17.067,17.067s17.067-7.641,17.067-17.067v-62.345c87.866,85.067,228.056,82.798,313.122-5.068
        c40.09-41.409,62.455-96.818,62.344-154.454C460.8,229.508,453.159,221.867,443.733,221.867z"/>
</g></g>
</svg>
                sur {{ nb }} jours
            </span>
        </div>
    {% endfor %}

    <div class="right">
        <span><span><small>{{ 'now'|date('j M H:i:s')|lower }}</small></span></span>
    </div>

    <div>
        <span><span>Ville : </span>{{ weather.data.city.name }}</span>
        <span><span>Jour : </span>{{ weather.data.city.sunrise|date('H:i:s') }} &mdash; {{ weather.data.city.sunset|date('H:i:s') }}</span>
        <span><span>Période : </span>{{ weather.tsMin|date('j M H\\h') }} &mdash; {{ weather.tsMax|date('j M H\\h') }}</span>
    </div>

{% endif %}

<script src="{{ asset('theme-blog/vendor/jquery/jquery.min.js') }}"></script>
<script>
    $(function () {
        // refresh auto de page
        setTimeout(function () {
            window.location.reload();
        }, {{ TTL * 1000 }});

        // clic links
        $('span.link').click(function () {
            window.location = $(this).data('href');
        });
    });
</script>
</body>
