<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ weather.data.city.name }}</title>
    <style>
        body {
            background: #dddddd;
            padding: 4px 0 5em 0;
            font-family: Verdana, Arial, serif;
            font-size: 2.5vw;
            margin: 0;
        }

        svg {
            border-top: 1px solid #aaaaaa;
            border-bottom: 1px solid #aaaaaa;
            background: #ffffff;
            width: 100%;
            height: auto;
        }

        small {
            padding-left: 1vw;
        }

        svg.icon {
            background: rgba(184, 222, 255, 0.25);
        }

        div > small > span {
            color: #888888;
        }
    </style>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="./theme-blog/img/weather.png"/>
    <meta name="theme-color" content="#367fa9">
    <link rel="apple-touch-icon" sizes="180x180" href="./theme-blog/img/weather.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./theme-blog/img/weather.svg">
    <link rel="icon" type="image/png" sizes="96x96" href="./theme-blog/img/weather.svg">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
{% if weather.empty %}
    <div style="color: red">
        Les données récupérées sont vides ... retenter plus tard.
    </div>
{% else %}

    <small>Température</small>
    <div>{{ weather.svglines('temp', '#f66364') | raw }}</div>

    <small>Température ressentie</small>
    <div>{{ weather.svglines('feels_like', '#dc0d0e') | raw }}</div>

    <small>Vent km/h</small>
    <div>{{ weather.svglines('wind_speed', '#a4650a', 5, -35) | raw }}</div>

    <small>Humidité %</small>
    <div>{{ weather.svglines('humidity', '#367dc4', 5) | raw }}</div>

    <small>Nuages %</small>
    <div>{{ weather.svgimg('icon') | raw }}</div>
    <div>{{ weather.svglines('clouds', '#69767c', 10) | raw }}</div>

    <small>Précipitations mm</small>
    <div>{{ weather.svglines('mm', '#19A979', 1, -7) | raw }}</div>

    <small>Pression hPa</small>
    <div>{{ weather.svglines('pressure', '#da5a1b', 2, 1013) | raw }}</div>

    <div>
        <small><span>Ville : </span>{{ weather.data.city.name }}</small><br>
        <small><span>Jour : </span>{{ weather.data.city.sunrise|date('H:i:s') }} &mdash; {{ weather.data.city.sunset|date('H:i:s') }}</small><br>
        <small><span>Période : </span>{{ weather.tsMin|date('j M H\\h') }} &mdash; {{ weather.tsMax|date('j M H\\h') }}</small><br>
    </div>
{% endif %}

<script>
    setTimeout(function () {
        window.location.reload();
    }, 5 * 60 * 1000);
</script>
</body>
